apiVersion: apps/v1
kind: Deployment
metadata:
  name: axis-notification
  namespace: axis
spec:
  template:
    spec:
      containers:
      - name: notification
        image: axis/notification-native:latest
