apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: axis
  name: axis-notification
spec:
  template:
    spec:
      containers:
      - name: notification
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        livenessProbe:
          initialDelaySeconds: 15
        readinessProbe:
          initialDelaySeconds: 10